@import "../../../public/sass/main.scss";

.articles {
	background-color: var(--lighter-gray-blue);
	padding: 10rem 0;
	&__title {
		display: block;
		font-size: 3rem;
		margin-bottom: 3rem;
		color: var(--primary-blue);
		font-weight: 500;
		text-align: left;
		width: 100%;
		@include respond(tab-port) {
			text-align: center;
		}
	}
	&__content {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		@include respond(tab-port) {
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}
	}
}
