.paragraph--light {
	font-size: 1.5rem;
	color: var(--gray-blue);
	line-height: 1.5;

	@include respond(tab-land) {
		line-height: 1.7;
		font-size: 2rem;
	}
}

.content__title {
	font-size: var(--headingOne);
	color: var(--primary-blue);
	font-weight: 400;
}
.paragraph--light.card__text {
	line-height: 1.4;
	font-size: 1.7rem;
}
.paragraph--light.card__text::after {
	content: " ...";
}

small {
	font-size: 1.5rem;
	color: var(--gray-blue);
}
