.hero {
	display: flex;
	flex-direction: column;
	padding-bottom: 10rem;
	&__left {
		position: relative;
		min-height: 60vh;
		background-image: url("../../images/bg-intro-mobile.svg");
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		&::after {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-image: url("../../images/image-mockups.png");
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center -16rem;
		}
	}
	&__right {
		&-content {
			display: flex;
			flex-direction: column;
			justify-content: space-evenly;
			min-height: 40vh;
		}
	}
	&__title {
		font-size: var(--headingOne);
		color: var(--primary-blue);
		font-weight: 400;
	}
}
