@import "../../../../public/sass/main.scss";

.btn {
	padding: 1rem 5rem;
	border-radius: 25px;
	border: none;
	cursor: pointer;
	font-family: inherit;
	transition: opacity 0.1s linear;
	&:hover {
		opacity: 0.7;
	}
}
.btn--request {
	position: relative;
	right: 7%;
	padding: 1.2rem 3rem;
	font-size: 1.2rem;
	background-image: linear-gradient(
		to right,
		var(--secondary-color),
		var(--accent-color)
	);
	color: var(--pure-white);
	@include respond(tab-land) {
		display: none;
	}
}

.btn--invite {
	align-self: flex-start;
	margin-top: 1rem;
	font-size: 1.5rem;
	padding: 1.2rem 3rem;
	@include respond(tab-land) {
		align-self: center;
	}
	@include respond(tab-port) {
		font-size: 1.7rem;
		padding: 1.8rem 4rem;
	}

	color: var(--pure-white);
	background-image: linear-gradient(
		to right,
		var(--secondary-color),
		var(--accent-color)
	);
}
.btn--invite-small {
	@include respond(tab-port) {
		margin-top: 2rem;
		align-self: center;
		padding: 2rem 6rem;
		font-size: 1.5rem;
	}

	color: var(--pure-white);
	background-image: linear-gradient(
		to right,
		var(--secondary-color),
		var(--accent-color)
	);
	grid-column: 3/4;
	grid-row: 1/2;
	padding: 1rem 3rem;
	font-size: 1.3rem;
	align-self: center;
	justify-self: end;
}
