.btn {
	padding: 1rem 5rem;
	border-radius: 25px;
	border: none;
	cursor: pointer;
	font-family: inherit;
}
.btn--request {
	display: none;
}

.btn--invite {
	align-self: center;
	padding: 2rem 7rem;
	font-size: 2rem;
	color: var(--pure-white);
	background-image: linear-gradient(
		to right,
		var(--secondary-color),
		var(--accent-color)
	);
}
.btn--invite-small {
	margin-top: 2rem;
	align-self: center;
	padding: 2rem 6rem;
	font-size: 1.5rem;
	color: var(--pure-white);
	background-image: linear-gradient(
		to right,
		var(--secondary-color),
		var(--accent-color)
	);
}
