@import "../../../public/sass/main.scss";

.navWrapper {
	position: relative;
	width: 100%;
	background-color: var(--pure-white);
	z-index: 10;
}

.nav {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;

	@include respond(tab-land) {
		padding: 0 2rem;
	}
	&__centered {
		display: flex;
		flex: 0 0 30%;
		flex-wrap: wrap;
		justify-content: space-evenly;

		& > a {
			font-size: 1.4rem;
			text-decoration: none;
			color: var(--gray-blue);
			padding: 2.8rem 0;
			border-bottom: 3px solid transparent;

			&:hover {
				color: var(--primary-blue);
				-o-border-image: linear-gradient(
					to right,
					var(--secondary-color),
					var(--accent-color)
				);
				border-image: linear-gradient(
					to right,
					var(--secondary-color),
					var(--accent-color)
				);
				border-image-slice: 1;
			}
		}
		@include respond(tab-land) {
			visibility: hidden;
			opacity: 0;
			display: flex;
			position: fixed;
			min-height: 34vh;
			top: 10rem;
			left: -100rem;
			flex-direction: column;
			width: 90%;
			max-width: 50rem;
			background-color: var(--pure-white);
			border-radius: 5px;
			z-index: 999999;
			box-shadow: 0px 90px 100px 10vh rgba(0, 0, 0, 0.564);
			transition: all 0.4s ease-in-out;
			& > a {
				font-size: 3rem;
			}
		}
	}
	&__toggler {
		display: none;
		@include respond(tab-land) {
			display: block;
			padding: 5px 5px 10px;
			background: transparent;
			border: none;
			cursor: pointer;
		}
	}
}

.show__dropdown {
	left: 50%;
	opacity: 1;
	visibility: visible;
	transform: translate(-50%, 0);
}

.nav__btn {
	display: inline-block;
	position: relative;
	width: 30px;
	height: 2px;
	background-color: #000;
	&::before {
		position: absolute;
		content: "";
		left: 0;
		top: 8px;
		width: 30px;
		height: 2px;
		border: none;
		background-color: #000;
	}
	&::after {
		width: 30px;
		height: 2px;
		border: none;
		background-color: #000;
		position: absolute;
		content: "";
		left: 0;
		top: -8px;
	}
}

.logo {
}
